<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document de test twig</title>
  </head>
  <body>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque sit
      cumque, illo veritatis quo nobis exercitationem sequi dolorum incidunt
      aperiam eius dolore? Placeat sunt corrupti dolore tempore delectus
      reprehenderit temporibus!
    </p>
  </body>
</html>
