<h3>Espace Administrateur</h3>
<h5>Gestion des commentaires.</h5>

<style type="text/css">
  .tg {
    border-collapse: collapse;
    border-spacing: 0;
  }
  .tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
  }
  .tg th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
  }
  .tg .tg-0lax {
    text-align: left;
    vertical-align: top;
  }
</style>

<table class="tg">
  <thead>
    <tr>
      <td class="tg-0lax">fullname user</td>
      <td class="tg-0lax">date de requete</td>
      <td class="tg-0lax">content commentaire id=</td>
      {# lien post #}
      <td class="tg-0lax">
        titre Article
        <a
          href="http://
       "
          >Voir l'Article</a
        >
      </td>
      <td class="tg-0lax">
        <a href="http://">Valider</a>
      </td>
    </tr>
  </thead>
</table>
