{{ user }}
<div>
  <div>
    <h3 class="mt-2 text-primary text-center">Bienvenue.</h3>
    <div class="p-3 mb-2 bg-primary text-white text-center">
      {{ "#{user.prenom} #{ user.nom }" }}
      <div>{{ user.avatar }}</div>
    </div>
  </div>
  <div>
    <h3 class="ml-5 citation font-weight-bold">{{ user.sentence }}</h3>
    <br />
    <br /><br />
  </div>
  <div>
    <a href="http://" class="ml-5 mb-2 text-primary">Télecharger mon CV PDF</a>
  </div>
</div>
