<h1>Example heading <span class="badge badge-secondary">New</span></h1>
<!-- contenu cidessous -->
vieProfile.html.twig<br /><br />

<ul></ul>
{{ user.prenom }}
{{ user.nom }}
<br />
fullname<br />

une photo et/ou un logo ;<br /><br />
Avatar ici<br />

Ma phrase d’accroche;<br /><br />
{{ user.sentence }}<br />

un lien vers votre CV au format PDF ; lien vers curl_version<br />
a

un lien vers votre CV au format PDF ;<br />
