<h1>Example heading <span class="badge badge-secondary">New</span></h1>
<!-- contenu cidessous -->
templateProfile.html.twig<br /><br />

<ul></ul>
{% user.prenom %} nom et prénom ;<br />
fullname<br />

une photo et/ou un logo ;<br /><br />
Avatar ici<br />

une phrase d’accroche;<br /><br />
sentence ici<br />

un lien vers votre CV au format PDF ; lien vers curl_version<br />

un lien vers votre CV au format PDF ;<br />
