listComments.html.twig<br />
<!-- Exemple comment -->
<!--  a lajout d'un commentaire ok -->
<?= $comments = $_SESSION['comments']; 
var_dump($comments); ?>
<!-- simple visiteur -->
<!-- appel de la fonction getComment a l'ouverture de la page -->

<!-- =================================================================== -->
<!-- ?= foreach ($comments as $comment): ? -->
<!-- =================================================================== -->
<!-- Exemple comment -->
Exemple:
<div class="comment">
  <div class="post-info">
    <div class="left-area">
      <a class="avatar" href="#"
        ><img src="public/images/avatar-1-120x120.jpg" alt="Profile Image"
      /></a>
    </div>

    <div class="middle-area">
      <a class="name" href="#"><b>Katy Liu</b></a> ici get full name
      <h6 class="date">on Sep 29, 2017 at 9:48 am</h6>
      ici getDate
    </div>

    <div class="right-area">
      <h5 class="reply-btn">
        <!-- <a href="comment&delete=<?= $_GET['id_comment']?>">DELETE</a>-->
        <!-- <a href="comment&update=<?= $_GET['id_comment']?>">UPDATE</a>-->
        ici lien
      </h5>
      <h5 class="reply-btn">ici lien</h5>
    </div>
  </div>
  <!-- post-info -->

  ici get content
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit
    amet, consectetur Ut enim ad minim veniam
  </p>
</div>
<!-- Fin exemple comment -->
