<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="footer-section">
          <a class="logo" href="#"
            ><img src="public/images/logo.png" alt="Logo Ima²ge" /></a
          ><br />
          <a href="login&user">Se connecter en tant qu'Administrateur.</a>
          <p>Suivez nous sur les reseaux</p>
          <ul class="icons">
            <li>
              <a href="https://fr-fr.facebook.com/WebdesignMag/" target="_blank"
                ><i class="ion-social-facebook-outline"></i
              ></a>
            </li>
            <li>
              <a href="https://twitter.com/ACM2E" target="_blank"
                ><i class="ion-social-twitter-outline"></i
              ></a>
            </li>
            <li>
              <a
                href="https://www.instagram.com/developper.web/"
                target="_blank"
                ><i class="ion-social-instagram-outline"></i
              ></a>
            </li>
          </ul>

          <p class="text-muted">
            <small>
              &copy {{ 'now'|date('Y')}} &middot; Built with
              <span class="text-danger">&hearts;</span> by
              <a href="">Elgatodesign</a><BR />
              <a href="https://openclassrooms.com/fr/" target="_blank"
                >OPENCLASSROOM</a
              >
            </small>
          </p>
        </div>
        <!-- footer-section -->
      </div>
      <!-- col-lg-4 col-md-6 -->

      <div class="col-lg-4 col-md-6">
        <div class="footer-section"></div>
        <!-- footer-section -->
      </div>
      <!-- col-lg-4 col-md-6 -->

      <div class="col-lg-4 col-md-6">
        <div class="footer-section"></div>
        <!-- footer-section -->
      </div>
      <!-- col-lg-4 col-md-6 -->
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</footer>
