<ul class="main-menu visible-on-click" id="main-menu">
  <!-- par default -->
  <li><a href="listing">Listing des articles</a></li>

  {% if usertype is empty %}
  <li><a href="register&create">S'inscrire</a></li>
  <li><a href="login&user">S'authentifier</a></li>
  {% endif %} {% if usertype == 'ADMIN'%}
  <li><a href="post&create">Créer un article</a></li>
  <li><a href="admin&comments=validation">Validations en attente.</a></li>
  {% endif %} {% if usertype == 'MEMBRE' or usertype == 'ADMIN'%}
  <li><a href="accueil">Accueil</a></li>
  <li><a href="profile">Mon profil</a></li>
  <li><a href="login&logout">Me déconnecter</a></li>
  {% endif %} {% if usertype == 'MEMBRE' %}
  <li><a href="contact&create">Nous contacter</a></li>
  {% endif %}
</ul>
<div>
  <p>Type:</p>
  {{ usertype }}
</div>
<!-- main-menu -->
