<ul class="main-menu visible-on-click" id="main-menu">
  <!-- par default -->
  <li><a href="accueil">Listing des articles</a></li>

  <!-- Twig si non connecte -->
  <li><a href="register&create">S'inscrire</a></li>
  <li><a href="login&user">S'authentifier</a></li>

  <!-- Twig si connecte -->
  <li><a href="profile">Mon profil</a></li>
  <li><a href="contact&create">Nous contacter</a></li>
  <li><a href="login&logout">Me deconnecter</a></li>

  <!-- Twig si role admin -->
  <li><a href="post&create">Créer un article</a></li>
</ul>
<!-- main-menu -->
