<section class="blog-area section">
  <div>
    <h3>Bempime Kheve</h3>
    <div>
      <img
        class="monprofil"
        src="public/images/visuel.jpg"
        alt="photo"
        width="800"
        height="200"
      />
    </div>
  </div>
  <h5>"Never Give Up"</h5>
  telcharger mon cv
</section>
