<div class="slider"></div>
views/Post/viewAcceuil.html.twig

<section class="blog-area section">
  <!-- route: post&register=created -->
  <div class="alert alert-success" role="alert">Votre compte est crée!</div>

  <!-- route: post&post=created -->
  <div class="alert alert-success" role="alert">Votre article est crée!</div>

  <!-- route: post&login=connected -->
  <div class="alert alert-success" role="alert">Vous étes connecté!</div>

  <!-- route: post&comment=notconnected -->
  <div class="alert alert-danger" role="alert">
    Vous devez vous connectez pour cette action!
  </div>

  <!-- route: post&session=terminated -->
  <div class="alert alert-danger" role="alert">Votre session est terminée!</div>

  <!-- route: post&message=send -->
  <div class="alert alert-warning" role="alert">Votre message est envoyé!</div>

  <div class="container">
    <div class="row">
      <?php
					//foreach ($array as $value)
					foreach ($articles as $article): ?>

      <div class="col-lg-4 col-md-6">
        <div class="card h-100">
          <div class="single-post post-style-1">
            <div class="blog-image">
              <img
                src="public/images/marion-michele-330691.jpg"
                alt="Blog Image"
              />
            </div>

            <!-- retrouver l'avatar de l'id user grace a la fk de l'article 
							l'utilisateur doit etre connecter pour attribuer son id
							-->
            <div class="avatar">
              <img
                src="public/images/icons8-team-355979.jpg"
                alt="Profile Image"
              />
            </div>

            <div class="blog-info">
              <h4 class="title">
                <a href="post&id_article=<?= $article->getId_article() ?>"
                  ><b><?= $article->getTitle() ?></b></a
                >
              </h4>
              <h6><?= $article->getChapo() ?></h6>
            </div>

            <!-- blog-info -->
          </div>
          <!-- single-post -->
        </div>
        <!-- card -->
      </div>
      <!-- col-lg-4 col-md-6 -->
      <!-- Fin de l'iteration -->
      <?php endforeach ?>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</section>
<!-- section -->
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>
