<section class="blog-area section">
  <div>
    <h3>Bempime Kheve</h3>
    <div>
      <img
        style="width: 600px"
        src="public/images/visuel.jpg"
        alt="photo"
        width="800"
        height="200"
      />
    </div>
  </div>
  <br /><br />
  <h5>"Never Give Up"</h5>
  <br /><br /><br /><br />
  <a href="https://github.com/Juju075" style="">Github</a> |
  <a href="https://www.linkedin.com/in/junior-kheve/">Linkedin</a> |
  <a href="public/images/cv_openclassrooms.pdf">CV</a>
</section>
