<section class="blog-area section">
  <!-- get alerts ici -->
  {% if getalert == 'accueil&register=created' %}
  <!-- route: accueil&register=created -->
  <!-- alert=1 -->
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    Votre compte est crée!

    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% elseif getalert == 'accueil&post=created' %}
  <!-- route: accueil&post=created -->
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    Votre article est crée!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% elseif getalert == 'accueil&passe=valide' %}
  <!-- route: accueil&passe=valide -->
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    Vous étes connecté!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% elseif getalert == 'accueil&comment=notconnected' %}
  <!-- route: accueil&comment=notconnected -->
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    Vous devez vous connecter pour effectuer cette action!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% elseif getalert == 'accueil&login=error' %}
  <!-- route: accueil&login=error -->
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    Vos credentials sont erronée!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% elseif getalert == 'accueil&register=error' %}
  <!-- route: accueil&register=error -->
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    Votre soumission est erronée!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% elseif getalert == 'accueil&session=terminated' %}
  <!-- route: accueil&session=terminated -->
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    Votre session est terminée!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% elseif getalert == 'accueil&post=exist' %}
  <!-- route: accueil&session=terminated -->
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    Cet Article existe déjà!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% elseif getalert == 'accueil&message=sent' %}
  <!-- route: accueil&message=send -->
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    Votre message est envoyé!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% elseif getalert == 'accueil&article=deleted' %}
  <!-- route: accueil&message=send -->
  {% endif %}
  <!-- liste des aricles -->
  <div class="container">
    <div class="row">
      {% for article in articles %}
      <div class="col-lg-4 col-md-6">
        <div class="card h-100">
          <div class="single-post post-style-1">
            <div class="blog-image">
              <img
                src="public/images/{{
                  random([
                    'kemet01.jpg',
                    'kemet02.jpg',
                    'kemet03.jpg',
                    'kemet04.jpg',
                    'kemet05.jpg',
                    'kemet06.jpg',
                    'kemet07.jpg',
                    'kemet08.jpg',
                    'kemet09.jpg',
                    'kemet010.jpg',
                    'kemet011.jpg',
                    'kemet012.jpg'
                  ])
                }}"
                alt="Blog Image"
              />
            </div>
            <div class="avatar">
              <img
                src="public/images/icons8-team-355979.jpg"
                alt="Profile Image"
              />
            </div>
            <div class="blog-info">
              <h4 class="title">
                <a href="post&id_article={{ article.id_article }}"
                  ><b>{{ article.title }}</b></a
                >
              </h4>
              <h6>{{ article.chapo }}</h6>
            </div>
            <!-- blog-info -->
          </div>
          <!-- single-post -->
        </div>
        <!-- card -->
      </div>
      <!-- col-lg-4 col-md-6 -->
      <!-- Fin de l'iteration -->
      {% endfor %}
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</section>
