<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% bloc title %}Detail article{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <!-- Font -->

    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500"
      rel="stylesheet"
    />
    {% block stylesheets %}
    <!-- Stylesheets -->
    <link href="public/common-css/bootstrap.css" rel="stylesheet" />
    <link href="public/common-css/ionicons.css" rel="stylesheet" />
    <link href="public/single-post-1/css/styles.css" rel="stylesheet" />
    <link href="public/single-post-1/css/responsive.css" rel="stylesheet" />
    {% endblock %}
  </head>
  <body>
    {% if %} {% endif %} {# NAVIGATION #} {% include 'partials/_nav.php' %} {#
    MAIN #}
    <main>{% block body %}{% endblock %}</main>
    {#FOOTER #} {% include 'partials/_footer.html.twig' %} {% block javascripts
    %}
    <script src="public/common-js/jquery-3.1.1.min.js"></script>

    <script src="public/common-js/tether.min.js"></script>

    <script src="public/common-js/bootstrap.js"></script>

    <script src="public/common-js/scripts.js"></script>
    {% endblock %}
  </body>
</html>
