<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TITLE</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <link rel="icon" href="favicon.ico" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <!-- Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500"
      rel="stylesheet"
    />

    <!-- Stylesheets -->
    <link href="public/common-css/bootstrap.css" rel="stylesheet" />
    <link href="public/common-css/ionicons.css" rel="stylesheet" />
    <link href="public/layout-1/css/styles.css" rel="stylesheet" />
    <link href="public/layout-1/css/responsive.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <div class="container-fluid position-relative no-side-padding">
        <a href="public/#" class="logo"
          ><img src="public/images/logo.png" alt="Logo Image"
        /></a>
        <div class="menu-nav-icon" data-nav-menu="#main-menu">
          <i class="ion-navicon"></i>
        </div>

        {% include 'partials/_nav.html.twig' %}
      </div>
      <!-- conatiner -->
    </header>
    <!-- =================================================================== -->
    <!-- couper dessus -->
    <!-- =================================================================== -->
    <!-- form/re.php -->

    <!-- Ci-dessous contenu -->
    <div class="slider"></div>
    {{ ici }}
    {% include 'form/register.html.twig' %}
    <!-- =================================================================== -->
    <!-- couper dessous -->
    <!-- =================================================================== -->
    {% include 'partials/_footer.html.twig' %}
    <!-- SCIPTS -->
    <script src="public/common-js/jquery-3.1.1.min.js"></script>
    <script src="public/common-js/tether.min.js"></script>
    <script src="public/common-js/bootstrap.js"></script>
    <script src="public/common-js/scripts.js"></script>
  </body>
</html>
