<?php ?>
<h1 class="my-5 text-center">Envoyer un message à l'administrateur.</h1>

<form method="post" action="contact&status=send">
  <div class="row">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Votre Message</span>
      </div>

      <textarea
        class="form-control"
        aria-label="With textarea"
        name="message"
        placeholder="Votre message ici..."
        required="required"
      ></textarea>
    </div>

    <div class="button">
      <button type="submit" class="btn btn-primary btn-lg btn-block">
        Soumettre
      </button>
    </div>
  </div>
</form>
