<h2 class="my-5 text-center">Me connecter.</h2>
<div class="container mb-5">
  <form method="post" action="login&status=login">
    <div class="row">
      <div class="col-md-6">
        <label for="username">Username</label
        ><input
          type="text"
          class="form-control"
          name="username"
          placeholder="username"
          required
        />
      </div>
      <div class="col-md-6">
        <label for="password">Password</label
        ><input
          type="password"
          class="form-control"
          name="password"
          placeholder="First name"
          required
        />
      </div>

      <div class="form-check">
        <img src="/public/images/space.png" alt="" />
      </div>

      <div class="form-group">
        <div class="form-check">
          <label class="form-check-label" for="gridCheck">
            Administrateur.
          </label>
          <input
            class="form-check-input"
            type="checkbox"
            id="gridCheck"
            name="option"
          />
        </div>
      </div>

      <br />
    </div>
    <div class="button">
      <button type="submit" class="btn btn-primary btn-lg btn-block">
        Soumettre
      </button>
    </div>
  </form>
</div>
