<h2 class="my-5 text-center">Ajouter un utilisateur.</h2>
<div class="container mb-5">
  <form
    method="post"
    action="register&status=new"
    enctype="multipart/form-data"
  >
    <div class="row">
      <div class="col-md-6">
        <label for="username">Username</label>
        <input
          type="text"
          class="form-control"
          name="username"
          placeholder="username"
          required="required"
        />
      </div>

      <div class="col-md-6">
        <label for="prenom">Prénom</label>
        <input
          type="text"
          class="form-control"
          name="prenom"
          placeholder="First name"
          required="required"
        />
      </div>
      <div class="col-md-6">
        <label for="nom">Nom</label>
        <input
          type="text"
          class="form-control"
          name="nom"
          placeholder="Last name"
          required="required"
        />
      </div>
      <div class="col-md-6">
        <label for="email">Email</label>
        <input
          type="text"
          class="form-control"
          name="email"
          placeholder="email@example.com"
          required="required"
        />
      </div>
      <div class="col-md-6">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          placeholder="password"
          required="required"
        />
      </div>

      <div class="col-md-6">
        <label for="checkpassword">Password verification</label>
        <input
          type="password"
          class="form-control"
          name="checkpassword"
          placeholder="resaissir mot de passe"
          required="required"
        />
      </div>

      <div class="col-md-12">
        <label for="sentence">Sentence</label>
        <input
          type="texaera"
          class="form-control"
          name="sentence"
          placeholder="Votre phrase prefere."
          required="required"
        />
      </div>
    </div>
    <!-- Creation du token-->
    <input
      type="hidden"
      name="token"
      value="<?php echo $_SESSION['token'] ?? '' ?>"
    />
    <div class="input-group mb-3">
      <div class="form-group">
        <label for="upload_file">Télecharger un avatar ou un logo.</label>
        <input type="file" name="foo" id="foo" />
      </div>
    </div>

    <div class="button">
      <button
        type="submit"
        class="btn btn-primary btn-lg btn-block"
        value="Upload Image"
        name="submit"
      >
        Soumettre
      </button>
    </div>
  </form>
</div>
