<?php ?>
register.html.twig
<h1 class="my-5 text-center">Ajouter un utilisateur.</h1>

<form method="post" action="register&status=new">
  <div class="row">
    <div class="col-md-6">
      <label for="username">Username</label>
      <input
        type="text"
        class="form-control"
        name="username"
        placeholder="username"
      />
    </div>
    <div class="col-md-6">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        name="password"
        placeholder="password"
      />
    </div>
    <div class="col-md-6">
      <label for="prenom">Prénom</label>
      <input
        type="text"
        class="form-control"
        name="prenom"
        placeholder="First name"
      />
    </div>
    <div class="col-md-6">
      <label for="nom">Nom</label>
      <input
        type="text"
        class="form-control"
        name="nom"
        placeholder="Last name"
      />
    </div>
    <div class="col-md-6">
      <label for="checkpassword">Password verification</label>
      <input
        type="password"
        class="form-control"
        name="checkpassword"
        placeholder="First name"
      />
    </div>
    <div class="col-md-6">
      <label for="email">Email</label>
      <input
        type="text"
        class="form-control"
        name="email"
        placeholder="email@example.com"
      />
    </div>
    <div class="col-md-6">
      <label for="sentence">Sentence</label>
      <input
        type="texaera"
        class="form-control"
        name="sentence"
        placeholder="Votre phrase prefere."
      />
    </div>

    <div class="input-group mb-3">
      <form method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label for="upload_file">Télecharger un avator ou un logo.</label>
          <input
            type="file"
            class="form-control-file"
            id="upload_file"
            name="foo"
            value="Upload File"
          />

          <input type="submit" value="Upload File" />
        </div>
      </form>
    </div>

    <div class="button">
      <button type="submit" class="btn btn-primary btn-lg btn-block">
        Soumettre
      </button>
    </div>
  </div>
</form>
